.display-item{
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.display-item:hover {
  transform: scale(1.05); /* slightly enlarge */
}

.display-image-container{
    height: 30vw;
    width: 32vw;

}

.title{
    color: #3a4b5c;
    font-family: monospace;
    font-size: 2vw;
}

.display-image{
    
    object-fit: cover;
    width: 100%;
    height:90%;

    border-radius: 5px;
}
